/* header start */
body{
    margin: 0;
    padding: 0;
}
header{
    padding: 20px 0;
    
}
.container {
    width:80%;
    margin: 0 auto;
    overflow: hidden;
   /* border: 1px solid red;*/
}

.logo {
    width: 15%;
    float: left;
   
}
.logo a{
    display: block;
}
.logo img{
    width: 100%;

}
.menu {
    width: 85%;
    /* margin-top: 8px; */
    float: right;
    box-sizing: border-box;
    
}
.menu ul{
    float: right;
}
.menu ul li{
    list-style: none;
    float:left;
    
   
}
.menu ul li a{
    padding: 0 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: #131313;
    text-decoration: none;
    
}
.menu ul li a:hover{
    color: #Bd2241;
}
.menu ul li a:last-child{
   padding-right:0;
}
/* header end */
/* banner start */
.banner{
    /* background-image: url(../image/); */
    background-color: black;

}
.banner-content{
    margin: 90px 0;
    width: 49%;

}
.banner-content h1{
    font-family: sans-serif;
    font-Size :56px ;
    font-weight:700 ;
    color: whitesmoke;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.b-p{
    text-transform: capitalize;
}
.banner-content p{
    margin: 0 0 15px;
    font-family: sans-serif;
    font-Size :14px ;
    font-weight:400 ;
    color: whitesmoke;
    text-transform: capitalize; 
}
.banner-content button{
    margin: 20px 0 0;
    width: 250px;
    height: 45px;
    background-color: #BC223E;
    border: none;
    font-family: sans-serif;
    font-size: 14px ;
    font-weight:400;
    transition: .3s; 
    color: #FAFAFA; 
    text-transform: uppercase;
}
.banner-content button:hover{
    color:#BC223E;
    background-color: white;
}
 /* banner end */
 /* works start */
.works{
        
}
.top{
    margin: 60px auto;
    width: 70%;
    /* border: 1px solid yellow; */
    text-align: center;

}
.w_h1{
    margin: 0 0 20px;
    font-family: sans-serif;
    font-Size :30px ;
    font-weight:700 ;
    color: black;
    text-transform: uppercase;
}
.w_p{
    margin: 0;
    font-family: sans-serif;
    font-Size :15px ;
    font-weight:400 ;
    color: #a7a7a7;
    
}
.bottom{
    margin-bottom: 50px;
    /* border: 1px solid; */
    overflow: hidden;

}
.single{
    margin: 0 4.65%;
    /* padding: 0 1%; */
    width: 24%;
    /* border: 1px solid green; */
    text-align: center;
    float: left;

}
.s_img{
    width: 50%;
    margin: 0 auto;
    /* border: 1px solid orange; */

}
.s_img img{
    width: 100%;

}
.single p{
    font-family: sans-serif;
    font-Size :15px ;
    font-weight:700 ;
    color: #1e1e1e;
    
}
/* works end */

/* about me start */
.about{
    padding: 90px 0;
    overflow: hidden;
    background-color: #FAFAFA;

}
.a_content{
    padding: 10px;
    width: 40%;
    float: left;

}
.a_content h1{
    font-family: sans-serif;
    font-Size :17px ;
    font-weight:700 ;
    color: #1e1e1e;
    text-transform: uppercase;
}
.a_content p{
    font-family: sans-serif;
    font-Size :14px ;
    font-weight:400 ;
    color: #a7a7a7;
}
.a_content button{
    width: 110px;
    height: 32px;
    margin: 10px 0 0;
    font-family: sans-serif;
    font-Size :12px ;
    font-weight:500 ;
    color: whitesmoke;
    background-color: #BC223E;
    text-transform: uppercase;
    border: none;
}
.a_video{
    margin: 10px;
    width: 40%;
    float: right;
    -webkit-box-shadow: 1px -2px 5px 4px rgba(133,125,133,0.52);
    -moz-box-shadow: 1px -2px 5px 4px rgba(133,125,133,0.52);
    box-shadow: 1px -2px 5px 4px rgba(133,125,133,0.52);

}
.a_video video{
    width: 100%;
}
/* about me end */
/* feature start */
.ft_bottom{
    margin: 0 auto 60px;
    width: 80%;
    /* border: 1px solid green; */
    overflow: hidden;
    /* text-align: center; */
}
.ft{
    margin: 2%;
    width: 29%;
    border: 0px solid ;
    text-align: center;
    float: left;
    border-radius: 2%;
    box-shadow:0px 0px 2px 1px rgb(210 182 182 / 65%);
    transition: 0.3s;
  
}
.ft:hover{
    transform: scale(1.05); 
    box-shadow: 0px 0px 5px 2px rgb(210 182 182 / 65%);
 }


.ft_img{
    margin: 0 auto;
    width: 50%;
    /* border: 1px solid orange; */

}
.ft_img img{
    width: 100%;

}
.ft h1{
    font-family: sans-serif;
    font-Size :17px ;
    font-weight:700 ;
    color: #1e1e1e;
}
.ft p{
    font-family: sans-serif;
    font-Size :14px ;
    font-weight:400 ;
    color: #a7a7a7;
}
button{
    display: block;
    margin: 50px auto 160px ;
    padding: 10px;
    font-family: sans-serif;
    font-Size :16px ;
    font-weight:700 ;
    color: #BC223E;
    text-transform:uppercase ;
    background-color: #FAFAFA;
    border: 0px solid;
    border-radius: 2%;
    box-shadow:0px 0px 2px 1px rgb(210 182 182 / 65%);
    transition: 0.3s;
    
}
button:hover{
    color: #FAFAFA;
    background-color: #BC223E;
    cursor: pointer;
}
/* feature end */
/* footer top start */

footer{
    padding: 50px 0;
    background-color: #131313;

}
.c_title{
    font-size: 22px;
    color: #BC223E;
    text-transform: uppercase;
}
.contract{
    width: 31%;
    float: left;

}
.icon0{
    padding-left: 18px;
    list-style-image: url();
    /* list-style-position: outside; */

}
.icon0 li{
    color: #a7a7a7;

}

.icon{
    padding-left: 0;
    /* display: block; */

}
.icon li{
    /* margin-right: 10px; */
    padding: 20px 13px 0px 0px;
    float: left;
    list-style: none;
    

}
.icon li i{
    width: 10px;
    height: 10px;
    padding: 10px;
    color: #1e1e1e;
    border: 1px solid #a7a7a7;
    border-radius: 2px;
    background-color:#a7a7a7;

}
.icon li i:hover{
    background-color: #BC223E;
}
.useful{
    margin-left: 9%;
    width: 20%;
    float: left;

}
.useful ul{  
    padding: 0;
    list-style-image: url();
}
.useful ul li{
    list-style: none;
}
.useful ul li a{
    color: #a7a7a7;
    text-decoration: none;
}
.useful ul li a:hover{
    background-color: #BC223E;
}
.newsletter{
    margin-left: 9%;
    width: 29%;
    float: left;
    
}
.newsletter p{
    color: #a7a7a7;
}
.s_form{
    position: relative;
}
.newsletter input{
    margin-top: 20px;
    padding: 3px 11px;
    width: 182px;
    height: 26px;
    border: 3px solid rgb(167, 167, 167);
}
.newsletter input:focus{
    outline: 0;
}
.form_btn{
    display: block;
    margin: 0px;
    padding: 9px 17px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: rgb(250, 250, 250);
    text-transform: capitalize;
    background-color: rgb(188, 34, 62);
    border: 0px solid;
    border-radius: 2%;
    position: absolute;
    top: 20.5px;
    right: -11px;
    transition: .3s;
}
.form_btn:hover{
    color:rgb(188, 34, 62) ;
    background-color: rgb(250, 250, 250);
}
.form_btn:focus{
    outline: 0;
}
.footer_b{
    padding: 12px;
    background-color: #a7a7a7;

}
.center{
    text-align: center;
}



/* footer top end */